<system.web>
    <customErrors mode="On" defaultRedirect="~/Error/General">
        <error redirect="~/Error/HttpError404" statusCode="403"/>
        <error redirect="~/Error/HttpError404" statusCode="404"/>
        <error redirect="~/Error/HttpError500" statusCode="500"/>
    </customErrors>

</system.web>

<system.webServer>
<httpErrors errorMode="Custom" existingResponse="Replace">
    <remove statusCode="403"/>
    <remove statusCode="404"/>
    <remove statusCode="500"/>
    <error
            statusCode="403"
            path="/Error/HttpError404"
            responseMode="ExecuteURL"/>
    <error
            statusCode="404"
            path="/Error/HttpError404"
            responseMode="ExecuteURL"/>
    <error
            statusCode="500"
            path="/Error/HttpError500"
            responseMode="ExecuteURL"/>
</httpErrors>
</system.webServer>