@model TokenBasedScript.Models.User
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<main>
    <div class="w-100 overflow-hidden bg-gray-100" id="top">

        <div class="container position-relative">
            <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url(img/webp/interior11.webp);">

            </div>
            <div class="row">

                <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                    @if (Model?.UserName != null)
                    {
                        <h1 class="display-4 fw-bold lh-1 mb-3">Welcome back, @Model.UserName!</h1>
                        <p class="lead">You have @Model.TokenLeft tokens left.</p>
                        @if (Model.TokenLeft <= 0)
                        {
                            <a href="Checkout" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Buy more tokens</a>
                        }
                        else
                        {
                            <a href="NikeBRTScript" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Redeem a token</a>
                        }
                    }
                    else
                    {
                        <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to Stride!</h1>
                        <p class="lead">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything, not even lesser or slower as you.</p>
                        <a href="signin" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Get started</a>
                    }


                </div>


            </div>
        </div>

    </div>

</main>


