@model User

@{
    ViewData["Title"] = "Nike BRT Script";
}

<main>
<div class="h-100 container-fluid">
<div class="h-100 row d-flex align-items-stretch">
<div class="col-12 col-md-7 col-lg-6 d-flex align-items-start flex-column px-vw-5">
<header class="mb-auto py-vh-2 col-12">
    <a class="navbar-brand pe-4 fs-4" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-layers-half" viewbox="0 0 16 16">
            <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
        </svg>
        <span class="ms-1 fw-bolder">Stride</span>
    </a>
</header>
<main class="mb-auto col-12">

<p class="lead">You have @Model.TokenLeft tokens left.</p>
@if(ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}
@if(ViewData["Info"] != null)
{
    <div class="alert alert-info" role="alert">
        @ViewData["Info"]
    </div>
}
<h1>Nike BRT Script</h1>
<form class="row" method="post">

<div class="col-12">
<div class="mb-3">
    <label for="orderEmail">Order Email</label>
    <input type="email" class="form-control form-control-lg" id="orderEmail" name="orderEmail" placeholder="user@example.com" aria-describedby="orderEmailHelp">
    <div id="orderEmailHelp" class="form-text">Order Email of Nike</div>
</div>
<div class="mb-3">
    <label for="orderNumber">Order Number</label>
    <input type="text" class="form-control form-control-lg" id="orderNumber" name="orderNumber" placeholder="C12345678" aria-describedby="orderNumberHelp">
    <div id="orderNumberHelp" class="form-text">Order Number of Nike</div>
</div>
<div class="mb-3">
    <label for="name">Name</label>
    <input type="text" class="form-control form-control-lg" id="name" name="name" placeholder="John Doe" aria-describedby="nameHelp">
    <div id="nameHelp" class="form-text">Name of the person who will receive the package</div>
</div>
<div class="mb-3">
    <label for="telephone">Telephone</label>
    <input type="text" class="form-control form-control-lg" id="telephone" name="telephone" placeholder="1234567890" aria-describedby="telephoneHelp">
    <div id="telephoneHelp" class="form-text">Telephone of the person who will receive the package</div>
</div>
<div class="mb-3">
    <label for="email">Email</label>
    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="reciever@example.com" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Email of the person who will receive the package</div>
</div>
<div class="mb-3">
    <label for="mobilePhoneNumber">Mobile Phone Number</label>
    <input type="text" class="form-control form-control-lg" id="mobilePhoneNumber" name="mobilePhoneNumber" placeholder="1234567890" aria-describedby="mobilePhoneNumberHelp">
    <div id="mobilePhoneNumberHelp" class="form-text">Mobile Phone Number of the person who will receive the package</div>
</div>
<div class="mb-3">
    <label for="address">Address</label>
    <input type="text" class="form-control form-control-lg" id="address" name="address" placeholder="1234 Main St" aria-describedby="addressHelp">
    <div id="addressHelp" class="form-text">Address of the person who will receive the package</div>
</div>
<div class="mb-3">
    <label for="postCode">Post Code</label>
    <input type="text" class="form-control form-control-lg" id="postCode" name="postCode" placeholder="12345" aria-describedby="postCodeHelp">
    <div id="postCodeHelp" class="form-text">Post Code of the person who will receive the package</div>
</div>
<div class="mb-3">
    <label for="town">Town</label>
    <input type="text" class="form-control form-control-lg" id="town" name="town" placeholder="Town" aria-describedby="townHelp">
    <div id="townHelp" class="form-text">Town of the person who will receive the package</div>
</div>
<div class="mb-3">
<label for="district">District</label>

<select id="district" name="district">

<option value="AG">AGRIGENTO</option>

<option value="AL">ALESSANDRIA</option>

<option value="AN">ANCONA</option>

<option value="AO">AOSTA</option>

<option value="AR">AREZZO</option>

<option value="AP">ASCOLI PICENO</option>

<option value="AT">ASTI</option>

<option value="AV">AVELLINO</option>

<option value="BA">BARI</option>

<option value="BT">BARLETTA-ANDRIA-TRANI</option>

<option value="BL">BELLUNO</option>

<option value="BN">BENEVENTO</option>

<option value="BG">BERGAMO</option>

<option value="BI">BIELLA</option>

<option value="BO">BOLOGNA</option>

<option value="BZ">BOLZANO</option>

<option value="BS">BRESCIA</option>

<option value="BR">BRINDISI</option>

<option value="CA">CAGLIARI</option>

<option value="CL">CALTANISSETTA</option>

<option value="CB">CAMPOBASSO</option>

<option value="CI">CARBONIA-IGLESIAS</option>

<option value="CE">CASERTA</option>

<option value="CT">CATANIA</option>

<option value="CZ">CATANZARO</option>

<option value="CH">CHIETI</option>

<option value="CO">COMO</option>

<option value="CS">COSENZA</option>

<option value="CR">CREMONA</option>

<option value="KR">CROTONE</option>

<option value="CN">CUNEO</option>

<option value="EN">ENNA</option>

<option value="FM">FERMO</option>

<option value="FE">FERRARA</option>

<option value="FI">FIRENZE</option>

<option value="FG">FOGGIA</option>

<option value="FC">FORLI'-CESENA</option>

<option value="FR">FROSINONE</option>

<option value="GE">GENOVA</option>

<option value="GO">GORIZIA</option>

<option value="GR">GROSSETO</option>

<option value="IM">IMPERIA</option>

<option value="IS">ISERNIA</option>

<option value="AQ">L'AQUILA</option>

<option value="SP">LA SPEZIA</option>

<option value="LT">LATINA</option>

<option value="LE">LECCE</option>

<option value="LC">LECCO</option>

<option value="LI">LIVORNO</option>

<option value="LO">LODI</option>

<option value="LU">LUCCA</option>

<option value="MC">MACERATA</option>

<option value="MN">MANTOVA</option>

<option value="MS">MASSA CARRARA</option>

<option value="MT">MATERA</option>

<option value="VS">MEDIO-CAMPIDANO</option>

<option value="ME">MESSINA</option>

<option value="MI">MILANO</option>

<option value="MO">MODENA</option>

<option value="MB">MONZA E BRIANZA</option>

<option value="NA">NAPOLI</option>

<option value="NO">NOVARA</option>

<option value="NU">NUORO</option>

<option value="OG">OGLIASTRA</option>

<option value="OT">OLBIA-TEMPIO</option>

<option value="OR">ORISTANO</option>

<option value="PD">PADOVA</option>

<option value="PA">PALERMO</option>

<option value="PR">PARMA</option>

<option value="PV">PAVIA</option>

<option value="PG">PERUGIA</option>

<option value="PU">PESARO-URBINO</option>

<option value="PE">PESCARA</option>

<option value="PC">PIACENZA</option>

<option value="PI">PISA</option>

<option value="PT">PISTOIA</option>

<option value="PN">PORDENONE</option>

<option value="PZ">POTENZA</option>

<option value="PO">PRATO</option>

<option value="RG">RAGUSA</option>

<option value="RA">RAVENNA</option>

<option value="RC">REGGIO CALABRIA</option>

<option value="RE">REGGIO EMILIA</option>

<option value="RI">RIETI</option>

<option value="RN">RIMINI</option>

<option value="RM">ROMA</option>

<option value="RO">ROVIGO</option>

<option value="SA">SALERNO</option>

<option value="SS">SASSARI</option>

<option value="SV">SAVONA</option>

<option value="SI">SIENA</option>

<option value="SR">SIRACUSA</option>

<option value="SO">SONDRIO</option>

<option value="SU">SUD SARDEGNA</option>

<option value="TA">TARANTO</option>

<option value="TE">TERAMO</option>

<option value="TR">TERNI</option>

<option value="TO">TORINO</option>

<option value="TP">TRAPANI</option>

<option value="TN">TRENTO</option>

<option value="TV">TREVISO</option>

<option value="TS">TRIESTE</option>

<option value="UD">UDINE</option>

<option value="VA">VARESE</option>

<option value="VE">VENEZIA</option>

<option value="VB">VERBANO-CUSIO-OSSOLA</option>

<option value="VC">VERCELLI</option>

<option value="VR">VERONA</option>

<option value="VV">VIBO VALENTIA</option>

<option value="VI">VICENZA</option>

<option value="VT">VITERBO</option>

</select>
<div id="districtHelp" class="form-text">District of the person who will receive the package</div>
</div>
@if (Model?.TokenLeft <= 0)
{
    <a href="Checkout" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Buy more tokens</a>
}
else
{
    <button type="submit" class="btn btn-primary btn-xl mb-4">Redeem</button>
}

<p class="small text-muted border-top py-2">Psssst! By redeeming token you agree to our well hidden terms of service. They are here...somewhere...for legal reasons...but you would not find ´em!</p>
</div>

</form>
</main>
</div>
<div class="col-12 col-md-5 col-lg-6 bg-cover" style="background-image: url('./img/webp/colorful.webp');"></div>
</div>
</div>
</main>
@Html.Partial("_Footer")